<button style="width: 260px;" class="button" type="button" role="button" {{action (perform this.waitOneSecond)}}>
    
    {{#if this.waitOneSecond.isRunning}}
        Loading!
    {{else}}
        Load for 1 Second!
    {{/if}}
</button>